language-python {
    font-size: 1.5em;
    color: #ef5552;
}

.md-typeset h1, h2, h3, h4 {
    color: #ef5552;
}

.md-typeset .doc-heading > code {
    font-size: 1.25em;
}

.md-typeset .doc-label {
    font-size: 1.25em;
}

.md-typeset .doc-heading {
    background-color: #ef5552;
}

.md-typeset .doc-heading > * {
    background-color: #ef5552;
    color: white;
}

.md-typeset .doc-heading > code > * {
    color: white;
}